h3.pb_business_day_title { margin:0; padding:0; font-size:18px; font-weight:300; line-height:55px; text-align:center; }
.home h3.pb_business_day_title { margin:0; padding:15px 22px; font-size:22px; font-weight:400; line-height: 1; color:#fff; background:#e3d0c3; }
table.pb_business_day { margin:0; width:100%; table-layout:fixed; border-collapse:collapse; border-spacing:0; }
table.pb_business_day th,
table.pb_business_day td { text-align:center; vertical-align:middle; background:#fff; border:1px solid #ddd; font-weight:300; }
table.pb_business_day thead th { padding:13px 10px; font-size:14px; line-height:1.6; }
table.pb_business_day tbody th,
table.pb_business_day tbody td { padding:12px 10px; line-height:1.6; }
table.pb_business_day tbody td { font-size:14px; }
table.pb_business_day tbody td small { display:block; font-size:90%; vertical-align:baseline; }

@media only screen and (min-width: 768px) {
  table.pb_business_day thead th { border-top: none; }
}

@media only screen and (max-width: 767px) {
  h3.pb_business_day_title { font-size:14px; line-height:45px; }
  table.pb_business_day { display:block; width:100%; border-top:1px solid #ddd; }
  table.pb_business_day th,
  table.pb_business_day td { display:block; padding-top:5px !important; padding-bottom:5px !important; line-height:35px !important; height:35px; min-width:60px; border-top:none; }
  table.pb_business_day thead { display:block; float:left; }
  table.pb_business_day thead th { font-size:14px; }
  table.pb_business_day tbody { display:-webkit-flex; display:flex; -webkit-align-items:flex-start; align-items:flex-start; width:auto; overflow-x:auto; white-space:nowrap; }
  table.pb_business_day tbody tr { display:block; width:100%; }
  table.pb_business_day tbody th, table.pb_business_day tbody td { border-left:none; }
  table.pb_business_day tbody td small { display:inline-block; font-size:80%; vertical-align:baseline; }
}
