.pb_pricemenu_title { margin:0; padding:10px 22px; font-size:22px; font-weight:400; line-height:1.6; }
table.pb_pricemenu { border:1px solid #ddd; border-collapse:collapse; border-spacing:0; width:100%; }
table.pb_pricemenu td { vertical-align:middle; border:1px solid #ddd; }
table.pb_pricemenu td.menu { border-right:none; }
table.pb_pricemenu td.price { text-align:right; border-left:none; }

@media only screen and (max-width:767px) {
  .pb_pricemenu_title { font-size:16.5px !important; font-weight:400; line-height:1.6; }
  table.pb_pricemenu, table.pb_pricemenu tbody, table.pb_pricemenu tr, table.pb_pricemenu th, table.pb_pricemenu td { display:block; }
  table.pb_pricemenu { border:none; border-bottom:1px solid #ddd; }
  table.pb_pricemenu td { line-height:2; }
  table.pb_pricemenu td.menu { padding-bottom:0; border:1px solid #ddd; border-bottom:none; font-size:14px!important; }
  table.pb_pricemenu td.price { text-align:left; padding-top:0; border:1px solid #ddd; border-top:none; border-bottom:none; font-size:14px!important; }
}
